*{
border: 0;
padding: 0;
margin: 0;
}

@font-face {
   font-family: myFirstFont;
   src: url(../Fonts/Canterbury.ttf);
}

   
   
title
{

}

.topnav 
{
	width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5px 5px;
  background-color: #EEF0F2;
  background: url("../Images/black2.jpg");
  
  
  font-family: Courier, monospace;
  font-size: 30px;
  font-weight: 20px;
  
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav-left a:hover {
  background-color: #426A5A;
  color: Orange;
}

.topnav-left a.active {
  background-color: Red;
  color: white;
}

.topnav-1 a {

  border-radius: 25px;
  float: none;
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}
.topnav-2 a
{
 
   border-radius: 25px;
  float: none;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
}
.topnav-3 a
{

  border-radius: 25px;
  float: none;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.topnav-4 a
{

  border-radius: 25px;
  float: none;
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.topnav-left a
{

  float: none;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
  
  
  text-shadow:  rgba(0, 0, 0, 0.8) 0px 0px 10px;
	font-family: myFirstFont;
 
  
   font-size: 50px;
   color: orange;
  font-weight: 20px;
}


.topnav-right a
{
  border-radius: 25px;
  float: right;
}
.text {
  width: 60%;
  height: 208px;
  padding: 0px 100px;
  margin: 0px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

body
{

 
 /* background: url("../Images/yellow.jpg") no-repeat center fixed;*/
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)), url("../Images/wall.jpg");  
  background-size: cover; 
 
  
  margin: 0px;

}


img {
  border-radius: 10%;

}
.container-fluid {
  padding: 0;
}

.container
{
	background-color: none;

    width:90%;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 25px;
    padding-left: 25px;

    margin: 15px auto;

    display: flex;
    justify-content: space-between;
    cursor:default;

}
.container1
{
	background-color: none;

    width:90%;
    padding-top: 900;
    padding-bottom: 45px;
    padding-right: 25px;
    padding-left: 25px;

    margin: 15px auto;

    display: flex;
    justify-content: space-between;
    cursor:default;

}
.container2
{
	background-color: none;

    width:90%;
    padding-top: 400;
    padding-bottom: 45px;
    padding-right: 25px;
    padding-left: 25px;

    margin: 15px auto;

    display: flex;
    justify-content: space-between;
    cursor:default;

}


.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9
{
	
    width: 355px;
    height: 355px;
    background: rgba(0, 0, 0, 0.35);
    border: 2px solid orange;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif ;
    text-shadow: none;
    transition: 400ms;
    box-shadow:  rgba(0, 0, 0, 0.8) 0px 0px 10px; 
	 
}
.box1, .box2, .box3, .box4, .box5, .box6 , .box7, .box8, .box9
{
    
    background-position: center;
    background-size: cover;
 
}
.box1{
   background-image: url(../Images/MM.jpg);
}
.box2{
   background-image: url(../Images/MM1.jpg);
}
.box3{
   background-image: url(../Images/MM2.jpg);
}
.box4{
   background-image: url(../Images/MM3.jpg);
}
.box5{
   background-image: url(../Images/MM4.jpg);
}
.box6{
   background-image: url(../Images/MM5.jpg);
}
.box7{
   background-image: url(../Images/MM6.jpg);
}
.box8{
   background-image: url(../Images/MM7.jpg);
}
.box9{
   background-image: url(../Images/MM8.jpg);
}


.box1:hover, .box2:hover, .box3:hover ,.box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover
{
	
    box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
	position:relative;
	top:-50px;
	left:-0px;
	width:1000px;
	height: 500px;
	display:flex;
	z-index:999;
}

.box1:hover{
	background-image: url(../Images/mm.gif);
}
.box2:hover{
	background-image: url(../Images/mm1.gif);
}
.box3:hover{
	background-image: url(../Images/mm2.gif);
}
.box4:hover{
	background-image: url(../Images/mm3.gif);
}
.box5:hover{
	background-image: url(../Images/mm4.gif);
}
.box6:hover{
	background-image: url(../Images/mm5.gif);
}
.box7:hover{
	background-image: url(../Images/mm6.gif);
}
.box8:hover{
	background-image: url(../Images/mm7.gif);
}
.box9:hover{
	background-image: url(../Images/mm8.gif);
}

.footer{
	
	position: relative;
	 overflow:hidden;
	
	background : #141414;
	color: white;
	height: 400px;
    text-align: center;
	
    margin-left: 0px;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
   
	
	
}
.footer .footer-bottom{
	background: #4E6766;
	color: White;
	height: 17px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 15px;
	padding-top: 5px;
	
	
}

.footer .footer-content{
	
	height: 300px;
}
.container3 
{
	
	position: relative;
	display: inline-block;
	background-image: url(../Images/Rick.jpg);
	
}
.Bhelp{
	position: relative;
	background-image: url(../Images/Rick.jpg);
	border: 3px solid yellow;

    background-position: -195px -30px; 
  
	border-radius:  100%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
	height: 150px;
	
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 0;
    padding-left: 0;
}

.footer-left
{
	
  width: 30%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  padding: 0px 0spx;

}
.bottom_nav {
	width: 30%;
  position: relative;
  overflow: hidden;
  padding: 0px 0px;
}
.bottom-1 {
border-radius: 25px;
  float: none;
  
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.bottom-2 {
border-radius: 25px;
  float: none;
  
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.bottom-3 {
border-radius: 25px;
  float: none;
  
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.bottom-4 {
border-radius: 25px;
  float: none;
  position: absolute;
  top: 40%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.bottom-1 a:hover {
  background : #141414;
  color: yellow;
}
.bottom-2 a:hover {
  background : #141414;
  color: yellow;
}
.bottom-3 a:hover {
  background : #141414;
  color: yellow;
}
.bottom-4 a:hover {
  background : #141414;
  color: yellow;
}


.box_title
{
	
	width: 900px;
    height: 200px;
    background-color: #FFFD82;
    border: 2px solid orange;
    border-radius: 10px;
	
	margin-top: 25px;
	
	margin-left: auto;
    margin-right: auto;
    display: absolute;
 
    transition: 400ms;
	
	 vertical-align: center;
    line-height: 24px;
     font-size: 30px;
    font-weight: 20px;

box-shadow:  rgba(0, 0, 0, 0.8) 0px 0px 10px; 
	
}

.bottom_text
{
	font-size: 30px;
	
	font-family: Courier, monospace;
    font-weight: 50;
    color: black;
    text-decoration: none;
}
.creator_text
{
	font-size: 30px;
	font-weight: 50;
	color: yellow;
	
}	

